{% load static %}

 <header class="header">
<div class="wrapper">
    <div class="header-logo">
      <a href="{% url "home" %}">
        <p>туроператор с 1993 года</p>
        <img src="{% static "base/images/logo.png" %}" alt="">
      </a>
    </div>

    <div class="header-contacts">
      {% for office in offices %}

            {% if not office.container %}
                <div class="main-office">
                   <span class="office-title">{{office.title}}</span>
                   <p class="office-adress">{{office.address}}</p>
                    {% for contact in office.contacts %}
                        {% if contact.contact_type == "P" %}
                        <a class="office-number" href="tel:{{contact.value}}">{{contact.value}}</a>
                        {% else %}
                        <a class="office-mail" href="{{contact.value}}">{{contact.value}}</a>
                        {% endif %}
                    {% endfor %}
                    <div class="worktime">
                    {% for shed_it in office.shedule_items %}
                        <p><span>{{shed_it.days}}:</span>{{shed_it.times}}</p>
                    {% endfor %}
                    </div>

            {% else %}
                <div class="main-office main-office-inline">
                    {% for off in office.offs %}
                    <div class="main-office-top">
                     <p class="office-adress">{{off.title}}</p>

                      {% for contact in off.contacts %}
                        {% if contact.contact_type == "P" %}
                        <a class="office-number" href="tel:{{contact.value}}">{{contact.value}}</a>
                        {% else %}
                        <a class="office-mail" href="{{contact.value}}">{{contact.value}}</a>
                        {% endif %}
                      {% endfor %}

                    </div>
                     {% endfor %}
            {% endif %}
            </div>
        {% endfor %}


    </div>
   
      <div class="order">
        <div class="order-phone">
          <a href="#">Заказать звонок</a>
        </div>
        <div class="order-tour">
          <a href="#">Заказать тур</a>
        </div>
        <div class="order-contacts">
          <a>Наши контакты</a>
        </div>
      </div>

    </div>
</header> 
  <section class="menu">
    <div class="wrapper">

      <div class="menu-icon">
        <img src="{% static "base/images/icon/menu-icon.png" %}" alt="">
      </div>

      <nav class="nav">
        <ul>
          <li><a href="http://slavtour-html.servertest.pro/#">О нас</a></li>
          <li><a href="http://slavtour-html.servertest.pro/#">Контакты</a></li>
          <li><a href="http://slavtour-html.servertest.pro/#">Новости</a></li>
          <li><a href="http://slavtour-html.servertest.pro/#">Отзывы</a></li>
        </ul>
      </nav>

      <div class="menu-social">
        <a href="http://slavtour-html.servertest.pro/#"><img src="{% static "base/images/icon/whatsapp.png" %}" alt=""></a>
        <a href="http://slavtour-html.servertest.pro/#"><img src="{% static "base/images/icon/vk-footer.png" %}" alt=""></a>
        <a href="http://slavtour-html.servertest.pro/#"><img src="{% static "base/images/icon/instagram.png" %}" alt=""></a>
      </div>
    </div>
  </section>
 