{% extends 'base.html' %}

{% load static %}

{% block title %}Туры{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "tours/css/tour_list.css" %}">
{% endblock style %}

{% block article %}


<section class="submenu">
    <div class="wrapper">
        <ul>
     {% if baner_id %}
        {% for baner in baners %}
            {% if baner_id == baner.id %}
            <li class="active-baner">
            <a href="/tours?baner_id={{baner.id}}"><span>{{baner.title}}</span></a>
            </li>
            {
            {% else %}
            <li>
            <a href="/tours?baner_id={{baner.id}}"><span>{{baner.title}}</span></a>
            </li>
        {% endfor %}
    {% endif %}
        </ul>
    </div>
</section>

 
<section class="breadcrumbs">
  <div class="wrapper">
    <ul>
      <li>

        <a href="">Главная</a>
      </li>
    </ul>
  </div>
</section>
      
       <div class="page-content inner-category">
          <div class="wrapper">
            <aside class="sidebar">
              {% for baner in baners %} 
              <div class="category">
                <div class="category-btn">
                  <h3>{{baner.title}}</h3>
                </div>
              </div>
            {% endfor %}

              <div class="text-widget">
                <h3>Гостиницы, отели, турбазы</h3>
                <a href="#">Псков</a>
                <a href="#">Псковская область</a>
              </div>
              <div class="text-widget">
                <h3>Развлечения</h3>
                <a href="#">Рестораны и кафе</a>
                <a href="#">Клубы, развлекательные комплексы</a>
                <a href="#">Аквапарк, каток, планетарий</a>
                <a href="#">Шопинг, сувениры</a>
                <a href="#">Филармония, теарт</a>
              </div>
              <div class="text-widget">
                <h3>Интерактивные карты</h3>
                <a href="#">Псков</a>
                <a href="#">Псковская область</a>
              </div>

            </aside>
            <div class="page-content-items">
              <div class="content-container">               
            
            {% if objects %}
                {% for object in objects %}
                <a class="page-content__item" href="/tours/{{object.id}}/">
                  <div class="content-item__img">
                    <img src="{{object.photo.url}}" alt="">
                  </div>
                  <div class="content-item__title">
                    <span>{{object.title}}</span>
                    {% if object.list %}
                    <ul class="towns">
                    {% for item in object.list %}
                      <li>{{item}}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                    <span class="tour-days">{{object.info}}</span>
                  </div>
                </a>
                {% empty %}
                  <h1>{{empty_msg}}</h1>

                {% endfor %}
            {% endif %}                 
              </div>
            </div>

          </div>
        </div>
     
{% endblock article %}