{% extends "base.html" %} 

{% load static %}
{% load thumbnail %}

{% block title %}Home{% endblock title %}

{% block style %}
 <link rel="stylesheet" href="{% static "main/css/index.css" %}">
{% endblock style %}

{% block article %}
  <section class="presentation">
    <div class="wrapper">
      <div class="presentation-content">
          {% for baner in baners %}          
          <div class="presentation-item" style="background-image:url({{baner.photo.baner.url}});">
                <a class="presentation-dropdown" href="{% url "tour_list" %}?baner_id={{baner.id}}">{{baner.title}}</a>
                <ul class="presentation-list">
                    {% for tour_type in baner.tour_types %}
                    <li><a href="{% url "tour_list" %}?tour_type_id={{tour_type.id}}">{{tour_type.title}}</a></li>
                    {% endfor %}                   
                </ul>
            </div>
            {% endfor %}         
      </div>
    </div>
  </section>   
  <section class="info-list">
        <div class="wrapper">
          <div class="header-block">
            <h1>Туроператор Славянский Тур</h1>
          </div>
          <ul class="list">
            <li class="list__item">ООО «Славянский тур» один из ведущих туроператоров Псковской области по внутреннему и международному въездному туризму </li>
            <li class="list__item">Более 25 лет успешной работы на российском и международном рынке туристских услуг</li>
            <li class="list__item">Создатель регионального экскурсионно-образовательного проекта «Псковские уроки», включенного в федеральную программу «Живые уроки»</li>
            <li class="list__item">Член Межрегионального координационного совета и Экспертного совета федеральной программы «Живые уроки»</li>
            <li class="list__item">Член Российского Союза Туриндустрии, Торгово-Промышленной Палаты Псковской области, Псковского областного союза туриндустрии</li>

          </ul>
          <a class="btn-white btn-list" href="http://slavtour-html.servertest.pro/">
            <span>Читать полностью</span>
            <img src="base/images/vector/arrow.png" alt="">
          </a>
        </div>
      </section>
      <section class="project">
        <div class="wrapper">
          <div class="header-block">
            <h2>Туры по проектам</h2>
          </div>
          <div class="project-block">
          {% for tour in tours %}
            <div class="project-block__item">
              <div class="project-img">
                <img src="{{tour.photo.vrect.url}}" alt="">
                <img class="project-img-top" src="{{tour.logotip.url}}" alt="">
              </div>
              <div class="project-info">
                <h3>{{tour.title}}</h3>
                <p>{{tour.info}}</p>
                <a href="{% url "tour" tour.id %}" class="btn-white">
                  <span>Узнать больше</span>
                  <img src="{% static "base/images/vector/arrow.png" %}" alt="">
                </a>
              </div>

            </div>
            {% endfor %}

          </div>
        </div>
      </section>

      <section class="activity-header">
        <div class="wrapper">
          <div class="header-block">
            <h2>Ближайшие мероприятия</h2>
            <a href="{% url "event_list" %}">Смотреть все мероприятия</a>
          </div>
        </div>
      </section>

      <section class="activity">
        <div class="wrapper">
          <div class="activity-container">
          {% for event in events %}
            <div class="activity-item">
              <a href="{% url "event" event.id %}" class="activity-content">
                <div class="activity-img">
                  <img src="{{event.photo.grect.url}}" alt="">
                </div>
                <div class="activity-text">
                  <span>{{event.publish_date}}</span>
                  <h3>{{event.title}}</h3>
                </div>
              </a>
              <p class="activity-description">{{event.subtitle}}</p>
            </div>
          {% endfor %}
             
          </div>
        </div>
      </section>


{% endblock article %}
